.success-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .success-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .success-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .see-more-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .see-more-link:hover {
    background-color: #0056b3;
  }
  