.newsletter{
  
    
        width:80%;
        height:40vh;
        display:flex;
        padding-top: 160px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 0px 140px;
        margin-bottom: 150px;
        background: linear-gradient(180deg, rgb(253, 225, 255) 0%, rgba(225, 255, 234, 0.34) 60%);
        gap:30px;
    
    

}

.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;

}
.newsletter p {
    color:#454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: center;
    background:white;
 
    width:730px;
    height: 70px;
    border-radius: 80px;
    border:1px solid rgb(227, 227, 227);

}

.newsletter input {
    width: 500px;
    margin-left:30px;
    border: none;
    outline: none;
    color:rgb(97,97,97);
    font-family: Poppins;
    font-size:16px;
}
.newsletter  div button{
    width: 210px;
    height: 70px;

    border-radius: 80px;
    background:black;
    color:white;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:1280px)
{
    .newsletter{
        
        padding:0px 80px;
        margin-bottom: 120px;
        gap:20px;
    }
    .newsletter h1{
        font-size: 36px;
        margin-top: 10px;
    }

    .newsletter p{
        font-size: 18px;
       
    }
    .newsletter div{
        width: 600px;
        height: 60px;
    }
    .newsletter div input{
        width: 400px;


    }
    .newsletter div button{
        width: 160px;
        height: 60px;

    }

}

@media(max-width:1024px)
{
    .newsletter{
        
       
        margin-bottom: 60px;
        
    }
    .newsletter h1{
        font-size: 30px;
      
    }

    .newsletter p{
        font-size: 16px;
       
    }
    .newsletter div{
        width: 500px;
        height: 50px;
    }
    .newsletter div input{
        width: 350px;
        font-size: 13px;


    }
    .newsletter div button{
        width: 120px;
        height: 45px;

    }

}

@media(max-width:800px)
{
    .newsletter{
        
       
        margin-bottom: 60px;
        height: 35vh;
        
    }
    .newsletter h1{
        font-size: 18px;
      
    }

    .newsletter p{
        font-size: 12px;
       
    }
    .newsletter div{
        width: 350px;
        height: 40px;
    }
    .newsletter div input{
        width: 200px;
        font-size: 13px;


    }
    .newsletter div button{
        width: 120px;
        height: 45px;
        font-size: 13px;
    }

}

@media(max-width:500px)
{
    .newsletter{
       
        height: 25vh;
        width: 100%;
        padding: 0;
        gap:15px;
        
    }
    .newsletter h1{
        font-size: 16px;
      
    }

    .newsletter p{
        font-size: 11px;
        max-width: 200px;
        text-align: center;
       
    }
    .newsletter div{
        width: 300px;
        height: 40px;
    }
    .newsletter div input{
        width: 160px;
        
    }
    .newsletter div button{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    
}